<body class="deck-container">
  <script type='text/javascript'>
    $(function(){
      $.deck('.slide');
      $(document).bind('deck.change', function(event, from, to){
        var url = '<%= url_for({:controller => :presentations, :action => :update }) %>';
        $.ajax(url, {
          data: { current_page: to } 
        });
      });
    });
  </script>

  <section class="slide" id="title-slide">
    <h1>Jasmine: BDD For Javascript</h1>
  </section>

  <section class="slide" id="jasmine-intro">
    <h2> Jasmine is ...</h2>
    <ul>
      <li> A TDD framework for Javascript</li>
      <li> Based on RSpec syntax</li>
      <li> Complemented by many libraries</li>
      <li> Capable </li>
    </ul>
  </section>

  <section class="slide" id="jasmine-run">
    <h2>Rspec Syntax</h2>
    <pre>
      <code>
        describe("Search Completer", function(){
          beforeEach(function(){
            this.completer = new AutoCompleter();
          });
          it("should fill the box", function(){
            expect($('.search_box').toHaveText('Hello');
          });
        });
      </code>
    </pre>
  </section>
  <section class="slide" id="jasmine-mocking">
    <h2>Mocking and Spying</h2>
    <pre><code>
      describe "Search Completer", ->
        it "makes a jQuery ajax call", ->
          
    </pre></code>
  </section>
</body>
