<!DOCTYPE html>
<html>
<head>
  <title>PresentationShare</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "http://simple-moon-2356.herokuapp.com/faye.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
